{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
<h1>About CDtool</h1>

<p>CDtool is a web-facing analytical tool for processing circular dichroism
  data.</p>

<p>It is currently in very early stages of development, and any and all feedback
  is welcome.</p>

<p>See the links in the footer, and the <a href="/help/">Help page</a> for more
  information.</p>


{% endblock %}
