{% extends "base.html" %}

{% block title %}Help{% endblock %}

{% block main %}
  <h1>Help</h1>

  <h2>Processing Single Runs</h2>
  <h3>Averaging</h3>
  <p>If you just need to average a series of scans, you can do so on <thead>
    <a href-"/single/">Single Run Page</a> by uploading files to the Blank
    section <em>or</em> the Sample section.</p>
  <p>You can supply a single file with multiple scans in it, or multiple files.
    All the scans will be treated equally.</p>
  <p>Once you have uploaded the raw data, click the 'Process' button, and the
    averaged series will be shown on the now displayed chart. Assuming more
    than one scan was provided, the standard error will be shown as an area
    around the line series.</p>
  <p>If you want to see the raw data that the average was created from, you
    can click the 'toggle inputs' button below the chart to see them.</p>
  <p>Finally, you can download the averaged series using the button at <thead>
    bottom of the page.<p>
  </thead></p>
{% endblock %}
