{% extends "base.html" %}

{% block title %}Single Run{% endblock %}

{% block main %}

<form id="file-input" method="POST" enctype="multipart/form-data">
  <div id="blank-input">
    <input name="blank" type="file">
    {% csrf_token %}
    <input type="submit">
  </div>
  <div id="sample-input">
  </div>
</form>

<div id="output">
  <div id="chart"></div>
  {% if display_chart %}
  <script>
  $(function () {
    $('#chart').highcharts({
      title: {
        text: "Blank"
      },
      xAxis: {
        min: {{ min }},
        max: {{ max }}
      },
      series: [{}]
    });
  });
  </script>
  {% endif %}
</div>
<!--
<div id="file-input">
  <form method="POST" enctype="multipart/form-data">
    <div id="blank-entry">
        <h2>Blank</h2>
        <input name="blank" type="file">
        {% csrf_token %}
        <input type="submit">
    </div><div id="sample-entry">
      <h2>Sample</h2>
      <input name="sample" type="file">
      {% csrf_token %}
      <input type="submit">
    </div>
  </form>

</div>
<div id="output">
  <div id="chart"></div>
  {% if display_chart %}
  <script>
  $(function () {
    $('#chart').highcharts({
      chart: {
        type: 'line',
        borderWidth: 1,
        plotBorderWidth: 1,
        margin: [50, 75, 50, 75]
      },
      title: {
        text: 'Single Run'
      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      xAxis: {
        min: {{ min }},
        max: {{ max }},
        tickLength: -10,
        title: {
          text: "Wavelength (nm)",
          style: {"font-weight": "bold"}
        }
      },
      yAxis: {
        gridLineWidth: 0,
        tickWidth: 1,
        tickLength: -10,
        title: {
          text: "Absorbance",
          style: {"font-weight": "bold"}
        }
      },
      series: [{
         data: {{ series }},
         marker: {
           enabled: false
         }
      }]
    });
  })
  </script>
  {% endif %}
</div>-->
{% endblock %}
