{% extends "base.html" %}

{% block title %}Single Run{% endblock %}

{% block css %}
<style>
  main {
    text-align: center;
    width: inherit;
  }
</style>
<link rel="stylesheet" type="text/css" href="/static/css/chart.css">
{% endblock %}

{% block main %}

<form id="input" method="POST" enctype="multipart/form-data">

  <div id="file-input">
    <fieldset id="sample-input">
      <h2>Sample Data</h2>
      <div class="input">

        <input id="id-sample-files" name="sample_files" type="file"
         data-multiple-caption="{count} files selected" multiple>
        <label for="id-sample-files">
           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" fill="#FFFFFF">
             <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3
             11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8
             2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2
             2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0
             1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
           </svg> Upload Sample Files
         </label>
      </div>
      <div class="input">
        <label for="id-sample-name">Sample Name:</label>
        <input name="sample_name" type="text" autocomplete="off" placeholder="e.g. 'sample', 'protein' etc.">
      </div>
    </fieldset>
    <fieldset id="blank-input">
    </fieldset>
  </div>

  <fieldset id="input-parameters">
    <div id="experiment-name">
      <label for="id-title">Experiment Name:</label>
      <input type="text" autocomplete="off" name="title" id="id-title">
    </div>
  </fieldset>

  {% if error_text %}
  <div id="errors">{{ error_text }}</div>
  <script>
    $( document ).ready(function() {
      console.log("Hello");
      $("html, body").animate({
        scrollTop: $("#errors").offset().top
      }, 800);
    })
  </script>
  {% endif %}

  <div id="submit-button-div">
    {% csrf_token %}
    <input type="submit" value="Process" id="submit-input">
  </div>

</form>

{% if display_output %}
<script src="/static/js/chart.js"></script>

<div id="output">

  <div id="chart"></div>

  <div id="config">
    <div id="main-config" class="series-config" data-series="main" data-error-series="main_error">
      <div class="config-title">{{ sample_name }}</div>
      <button id="main-series-option" class="series-option on">Toggle Main Series</button>
      <button id="main-error-option" class="error-option on">Toggle Main Series Error</button>
    </div>

    {% if sample_scans %}
    <div id="sample-scan-config">
      <div class="config-title">{{ sample_name }} Scans</div>
      <button id="sample-series-option" class="off">Toggle Sample Scans</button>
      {% for sample_scan in sample_scans %}
      <div id="sample-config-{{forloop.counter}}" class="series-config" data-series="sample_{{ forloop.counter }}" data-error-series="sample_error_{{ forloop.counter }}">
        <div class="config-title">{{ sample_name }} #{{ forloop.counter }}</div>
        <button id="sample-series-option-{{forloop.counter}}" class="series-option off">Toggle Sample Series #{{forloop.counter}}</button>
        <button id="main-error-option-{{forloop.counter}}" class="error-option off">Toggle Sample Series Error #{{forloop.counter}}</button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <form id="download" method="POST">
    <input type="hidden" name="series" value="{{ file_series }}">
    <input type="hidden" name="filename" value="{{ file_name }}">
    {% csrf_token %}
    <input id="file-download" type="submit" value="Download Data File">
  </div>

</div>

<script>
  {% if sample_scans %}
  chart = makeChart(
     "{{ title }}", {{ min }}, {{ max }}, {{ main_series }}, {{ main_error }}, {{sample_scans}}, {{sample_errors}}
  )
  {% else %}
    chart = makeChart(
       "{{ title }}", {{ min }}, {{ max }}, {{ main_series }}, {{ main_error }}, [], []
    )
  {% endif %}
</script>
{% endif %}

{% endblock %}
