{% extends "base.html" %}

{% block title %}Single Run{% endblock %}

{% block css %}
<style>
  main {
    text-align: center;
    width: inherit;
  }
</style>
{% endblock %}

{% block main %}

<form id="input" method="POST" enctype="multipart/form-data">

  <div id="file-input">
    <fieldset id="sample-input">
      <h2>Sample Data</h2>
      <div class="input">

        <input id="id-sample-files" name="sample_files" type="file" data-multiple-caption="{count} files selected" multiple>
        <label for="id-sample-files">Upload Sample Files</label>
      </div>
      <div class="input">
        <label for="id-sample-name">Sample Name:</label>
        <input name="sample_name" type="text" placeholder="e.g. 'sample', 'protein' etc.">
      </div>
    </fieldset>
    <fieldset id="blank-input">
    </fieldset>
  </div>

  <fieldset id="input-parameters">
    <div id="experiment-name">
      <label for="id-title">Experiment Name:</label>
      <input type="text" name="title" id="id-title">
    </div>
  </fieldset>

  <div id="submit-button-div">
    {% csrf_token %}
    <input type="submit" value="Process" id="submit-input">
  </div>

</form>

{% if display_output %}
<div id="output">

  <div id="chart"></div>
  <div id="config"></div>
  <div id="download"></div>

</div>

<script>
var chart = Highcharts.chart("chart", {
    title: {
      text: "{{ title }}"
    },
    chart: {
      type: "line",
      plotBorderWidth: 1,
      plotBorderColor: "#000000",
      margin: [50, 30, 50, 75],
      zoomType: "xy",
      height: "50%"
    },
    credits: {
      enabled: false
    },
    legend: {
      enabled: false
    },
    plotOptions: {
      arearange: {
        animation: true
      }
    },
    xAxis: {
      min: {{ min }},
      max: {{ max }},
      gridLineWidth: 1,
      gridLineColor: "#EEEEEE",
      gridLineDashStyle: "ShortDash",
      lineColor: "#000000",
      tickWidth: 1,
      tickLength: 6,
      tickPosition: "inside",
      tickColor: "#000000",
      title: {
        text: "Wavelength (nm)",
        style: {"font-weight": "bold"}
      }
    },
    yAxis: {
      gridLineWidth: 1,
      gridLineColor: "#EEEEEE",
      gridLineDashStyle: "ShortDash",
      tickWidth: 1,
      tickLength: 6,
      tickPosition: "inside",
      lineColor: "#000000",
      tickColor: "#000000",
      title: {
        text: "Circular Dichroism",
        style: {"font-weight": "bold"}
      }
    },
    tooltip: {
      enabled: false
    },
    series: [{
      data: []
    }]
  });
</script>

<script>
  $( document ).ready(function() {
    $("html, body").animate({
      scrollTop: $("#chart").offset().top
  }, 800);
  });
</script>
{% endif %}

<!--
<div id="output">
  {% if display_chart %}
  <div id="chart"></div>
  <script>
  var chart = Highcharts.chart("chart", {
      title: {
        text: "{{ title }}"
      },
      chart: {
        type: "line",
        plotBorderWidth: 1,
        plotBorderColor: "#000000",
        margin: [50, 30, 50, 75],
        zoomType: "xy",
        height: "50%"
      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      plotOptions: {
        arearange: {
          animation: true
        }
      },
      xAxis: {
        min: {{ min }},
        max: {{ max }},
        gridLineWidth: 1,
        gridLineColor: "#EEEEEE",
        gridLineDashStyle: "ShortDash",
        lineColor: "#000000",
        tickWidth: 1,
        tickLength: 6,
        tickPosition: "inside",
        tickColor: "#000000",
        title: {
          text: "Wavelength (nm)",
          style: {"font-weight": "bold"}
        }
      },
      yAxis: {
        gridLineWidth: 1,
        gridLineColor: "#EEEEEE",
        gridLineDashStyle: "ShortDash",
        tickWidth: 1,
        tickLength: 6,
        tickPosition: "inside",
        lineColor: "#000000",
        tickColor: "#000000",
        title: {
          text: "Circular Dichroism",
          style: {"font-weight": "bold"}
        }
      },
      tooltip: {
        enabled: false
      },
      series: [{
        data: {{ main_error }},
        id: "main_error",
        color: "#4A9586",
        type: "arearange",
        fillOpacity: 0.2,
        lineWidth: 0,
        enableMouseTracking: false
      }, {
        data: {{ main_series }},
        id: "main",
        color: "#4A9586",
        marker: {
          enabled: false,
          states: {
            hover: {
              enabled: false
            }
          }
        }
      }]
    });
  </script>
  <div id="chart-config">

    <div id="main-series-config" class="series-config">
      <script>
      function updateSeries() {
        series = chart.get("main");
        error = chart.get("main_error");
        if ($("#series-display-option").hasClass("off")) {
          series.hide();
          error.hide();
        } else {
          series.show();
          if (($("#series-error-option").hasClass("off"))) {
            error.hide();
          } else {
            error.show();
          }
        }
      }
      </script>
      <div class="series-title">{{ sample_name }}</div>
      <button class="error-option on" id="series-error-option">Toggle Error</button>
      <script>
      $("#series-error-option").click(function () {
        if ($("#series-error-option").hasClass("on")) {
          $("#series-error-option").addClass("off").removeClass("on");
        } else {
          $("#series-error-option").addClass("on").removeClass("off");
        }
        updateSeries();
      });
      </script>

      <button class="display-option on" id="series-display-option">Toggle Series</button>
      <script>
      $("#series-display-option").click(function () {
        if ($("#series-display-option").hasClass("on")) {
          $("#series-display-option").addClass("off").removeClass("on");
        } else {
          $("#series-display-option").addClass("on").removeClass("off");
        }
        updateSeries();
      });
      </script>
    </div>

    {% if sample_scans %}
    <div id="sample-scans">
      <button>Toggle sample scans</button>
      {% for scan in sample_scans %}
      <div class="series-config">
        <div class="series-title">{{ sample_name }} #{{forloop.counter}}</div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

  </div>

  <form method="POST" id="file-output">
    <input type="hidden" name="series" value="{{ file_series }}">
    <input type="hidden" name="filename" value="{{ title }}.dat">
    {% csrf_token %}
    <input type="submit" id="file-download" value="Download data file">
  </form>

  {% endif %}
</div>-->
{% endblock %}
