/* INPUT STUFF */

.error-message {
  color: #D8000C;
  background-color: #FFBABA;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

#baseline-input {
  opacity: 0.3;
}

.scans-input {
  width: 100%;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
}

input {
  display: block;
  line-height: 1.5;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 140%;
  margin-bottom: 50px;
}

input[type=file] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type=file] + label {
  font-weight: 700;
  color: #FFFFFF;
  padding: 10px;
  background-color: #45596d;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  width: fit-content;
}


input[type=file] + label:hover {
  background-color: #2c3e50;
}

label svg {
  margin-right: auto;
  display: block;
  margin-left: auto;
}

label span {
  text-align: center;
  display: block;
  margin-top: 5px;
  font-size: 80%;
}

input[type=submit] {
  background-color: #45596d;
  padding: 10px;
  font-size: 140%;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 5px;
  border: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.5s;
  width:fit-content;
}

input[type=submit]:hover {
  background-color: #000000;
  transition: 0.5s;
}

button {
  display: block;
  width: 100%;
  background-color: #4e6479;
  padding: 8px;
  font-size: 70%;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #45596d;
}

button.off {
  opacity: 0.5;
}

#zoom-instructions {
  text-align: center;
  font-size: 70%;
  color: #888888;
}

#chart {
  margin-bottom: 75px;
}

.sample-input, #input-config {
  border: 1.25px solid #D0D0D0;
  padding: 20px 50px;
  border-radius: 30px;
  margin-bottom: 20px;
}

/* CHART CONFIG STUFF */

table.sample-config {
  border: 1.25px solid #D0D0D0;
  border-collapse: separate;
  border-radius: 30px;
  padding: 0px;
  width: 100%;
  border-spacing: 0px;
}

tr, td {
  margin: 0px;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

td.scan-name {
  width: 30%;
  font-weight: bold;
  border-right: 1.25px solid #D0D0D0;
  text-align: center;
}

td.series-control {
  margin: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

td.series-control button {
  display: inline;
  width: 25%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 4px;
}

.show-more, .show-all {
  border-left: 1.25px solid #D0D0D0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 7%;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s;
}

.show-all {
  font-size: 50%;
  padding-right: 4px;
  font-weight: bold;
  transition: 0.3s;
}

.show-more:hover {
  background-color: #ecf1f5;
}

.inert:hover {
  background-color: rgba(255, 255, 255, 0);
}

.show-all:hover {
  font-weight: bolder;
  font-size: 55%;
}

.inert {
  cursor: default;
  border-left-width: 0px;
}

.show-all.inert {
}

.scan-1, .scan-2 {
  display: none;
  font-size: 70%;
  line-height: 90%;
}

.scan-1 td, .scan-2 td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.scan-2 {
  font-size: 50%;
}

.scan-1 td, .scan-2 td {
  border-top: 1.25px solid #D0D0D0;
}

/*

td.show-more, .show-all {
  border-left: 1.25px solid #D0D0D0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 7%;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s;
}

td.show-more {

}

td.show-all {

}

.scan-config {
  border-top: 1px solid #D0D0D0;
  margin: 0px;
  font-size: 70%;
  padding: 0px;
  display: flex;
  align-items: stretch;
}

.main-config {
  border-top-width: 0px;
  font-size: 100%;
}

.component-config {
  border-top-width: 1px;
  font-size: 80%;
}

.sample-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 30%;
  font-weight: bold;
  vertical-align: middle;
  border-right: 1.25px solid #D0D0D0;
  text-align: center;
}

.series-control {
  padding: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-grow: 5;
}

.series-control button {
  display: inline;
  width: 25%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 4px;
}

.show-more, .show-all {
  border-left: 1.25px solid #D0D0D0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 7%;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s;
}

.inert {
  cursor: default;
}



.scan-config .show-all {
  border-left: 1.25px solid #FFFFFF;
}

.main-config .show-all {
  border-left: 1.25px solid #D0D0D0;
}



*/

#download {
  margin-top: 80px;
}


@media only screen and (min-width: 568px) {
  /* iPad and up */

  label svg {
    margin-right: 10px;
    display: inline;
    margin-left: 0px;
  }

  label span {
    text-align: left;
    display: inline;
    margin-top: 0px;
    font-size: 100%;
  }


}

@media only screen and (min-width: 769px) {
  /* Small Desktop screens and up */


  .scans-input {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
  }

  .scans-input input[type=file] + label {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
