<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sam Ireland">
  <meta name="description" content="Circular Dichroism Tools">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/gif" href="/static/images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js" async></script>
  <script src="/static/js/highcharts.js"></script>
  <script src="/static/js/highcharts-more.js"></script>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <header>
    <a href="/">CDtool</a><div id="navicon">&#9776;</div>
  </header><nav><ul><li>
    </li><li><a href="/single/">Single Run</a></li><li>Thermal Melt</li><li>About
  </li></ul></nav>

  <main>
    {% block main %}
    {% endblock %}
  </main>
  <footer>
    <div class="footer-list">
      <h3>Useful Links</h3>
      <ul>
        <li><a href="http://people.cryst.bbk.ac.uk/~ubcg25a/" target="_blank">The Wallace Lab</a></li>
        <li><a href="https://github.com/samirelanduk/CDtool" target="_blank">Source code for this website</a></li>
      </ul>
    </div><div class="footer-list">
      <h3>Related Projects</h3>
      <ul>
        <li><a href="http://dichroweb.cryst.bbk.ac.uk/html/home.shtml" target="_blank">Dichroweb</a></li>
        <li><a href="http://pdb2cd.cryst.bbk.ac.uk/" target="_blank">PDB2CD</a></li>
        <li><a href="http://pcddb.cryst.bbk.ac.uk/home.php" target="_blank">Protein CD Data Bank</a></li>
      </ul>
    </div>
    <div id="copyright">Copyright 2017</div>
  </footer>
</body>

</html>
