/* Base structure styles */

body {
  margin: 0px;
  font-family: "Amiko", sans-serif;
}

header {
  background-color: #2c3e50;
  font-family: "Baloo";
  color: #FFFFFF;
  font-size: 200%;
  line-height: 80px;;
  padding: 0px 30px;
  letter-spacing: 0px;
}

header a {
  color: inherit;
  text-decoration: inherit;
}

nav {
  display: none;
  width: 100%;
  color: #FFFFFF;
}

#navicon {
  float: right;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #34495E;
  width: 100%;
  font-size: 110%;
}

nav li {
  text-align: center;
  margin: 0px;
  box-sizing: border-box;
  line-height: 40px;
  border: 1px solid #2c3e50;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0px;
  transition: 0.5s;
}

nav a:hover {
  color: #CCCCCC;
  transition: 0.5s
}

main {
  min-height: calc(90vh);
  padding: 20px;
}

footer {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-size: 80%;
  line-height: 200%;
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer-list {
  margin-bottom: 30px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

footer a {
  color: inherit;
}

/* Input styles */



fieldset {
  width: 100%;
  padding: 30px;
  background-color: #F9F9F9;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

label {
  display: block;
  text-align: left;
}

input {
  display: block;
  line-height: 1.5;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 140%;
}

input[type=file] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type=file] + label {
  font-weight: 700;
  color: #FFFFFF;
  padding: 10px;
  background-color: #45596d;
  display: inline-block;
  cursor: pointer;
}

input[type=file]:focus + label,
input[type=file] + label:hover {
  background-color: #2c3e50;
}

label svg {
  margin-right: 10px;
}

input[type=submit] {
  background-color: #45596d;
  padding: 10px;
  font-size: 140%;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 5px;
  border: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.5s;
  display: inline-block;
  width:auto;
}

input[type=submit]:hover {
  background-color: #000000;
  transition: 0.5s;
}


#file-input, #chart-config {
  margin-bottom: 100px;
}

button {
  background-color: #61778e;
  padding: 5px;
  font-size: 90%;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 8px;
  border: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.5s;
}

button:hover {
  background-color: #55697d;
  transition: 0.5s;
}

p {
  line-height: 2;
}

#copyright {
  color: #AAAAAA;
  text-align: center;
}

#errors {
  color: #A63232;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 30px;
  font-weight: bold;
  background-color: rgba(166, 50, 50, 0.1);
  border-radius: 10px;

}

@media only screen and (min-width: 568px) {
  /* iPad and up */

  .footer-list {
    display: inline-block;
    width: 50%;
    margin: 0px;
    margin-bottom: 30px;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
  }

  main {
    padding: 25px 40px;;
  }
}


@media only screen and (min-width: 769px) {
  /* Small Desktop screens and up */

  #navicon {
    display: none;
  }

  nav {
    display: inline;
    line-height: 80px;
    width: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0);
    text-align: right;
  }

  nav ul {
    background-color: inherit;
  }

  nav li {
    display: inline;
    border: 0px;
    background-color: inherit;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 80%;
  }

  nav a {
    display: inline-block;
  }

  main {
    padding: 30px 50px;;
  }

}

@media only screen and (min-width: 1025px) {
  /* Big Desktop screens */

  main {
    width: 960px;
    margin: 0px auto;
    padding: 40px 60px;;
  }

}
