body {
  margin: 0px;
  font-family: "Amiko", sans-serif;
}

header {
  background-color: #2c3e50;
  color: #FFFFFF;
  font-size: 200%;
  height: 80px;
  line-height: 80px;
  padding: 0px 50px;
  letter-spacing: 0px;
}

#logo {
  display: inline-block;
  font-family: "Baloo";
  margin: 0px;
}

nav {
  display: none;
  width: 100%;
  color: #FFFFFF;
}

#menu-icon {
  float: right;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #34495E;
  width: 100%;
  font-size: 110%;
}

nav li {
  text-align: center;
  margin: 0px;
  box-sizing: border-box;
  line-height: 40px;
  border: 1px solid #2c3e50;
}

main {
  min-height: calc(75vh);
  padding: 20px;
}

footer {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-size: 80%;
  line-height: 200%;
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer-list {
  margin-bottom: 30px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

footer a {
  color: inherit;
}

#copyright {
  color: #AAAAAA;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  /* Small Desktop screens and up */

  #menu-icon {
    display: none;
  }

  nav {
    display: inline;
    line-height: 80px;
    width: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0);
    text-align: right;
  }

  nav ul {
    background-color: inherit;
  }

  nav li {
    display: inline;
    border: 0px;
    background-color: inherit;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 80%;
  }

  nav a {
    display: inline-block;
  }

  main {
    padding: 30px 50px;;
  }

}

@media only screen and (min-width: 568px) {
  /* iPad and up */

  .footer-list {
    display: inline-block;
    width: 50%;
    margin: 0px;
    margin-bottom: 30px;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
  }

  main {
    padding: 25px 40px;;
  }
}
