body {
  margin: 0px;
  font-family: "Amiko", sans-serif;
}

header {
  background-color: #2c3e50;
  font-family: "Baloo";
  color: #FFFFFF;
  font-size: 200%;
  line-height: 80px;;
  padding: 0px 30px;
  letter-spacing: 0px;
}

nav {
  display: none;
  width: 100%;
  color: #FFFFFF;
}

#navicon {
  float: right;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #34495E;
  width: 100%;
  font-size: 110%;
}

nav li {
  text-align: center;
  margin: 0px;
  box-sizing: border-box;
  line-height: 40px;
  border: 1px solid #2c3e50;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0px;
}

nav a:hover {
  color: #000000;
  transition: 0.5s
}

main {
  min-height: 400px;
}

footer {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-size: 80%;
  line-height: 200%;
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer-list {
  margin-bottom: 30px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

footer a {
  color: inherit;
}

#copyright {
  color: #AAAAAA;
  text-align: center;
}

#blank-input, #sample-input {
  width: 100%;
  padding: 30px;
  border: 2px solid pink;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

h1, h2, h3 {
  margin: 0px;
}

input[type=submit] {
  background-color: #45596d;
  padding: 10px;
  font-size: 140%;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 5px;
  border: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#file-input, #chart {
  margin-bottom: 100px;
}

@media only screen and (min-width: 568px) {
  /* iPad and up */

  .footer-list {
    display: inline-block;
    width: 50%;
    margin: 0px;
    margin-bottom: 30px;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
  }
}


@media only screen and (min-width: 769px) {
  /* Small Desktop screens and up */

  #navicon {
    display: none;
  }

  nav {
    display: inline;
    line-height: 80px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0);
    text-align: right;
  }

  nav ul {
    background-color: inherit;
  }

  nav li {
    display: inline;
    border: 0px;
    background-color: inherit;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 80%;
  }

  nav a {
    display: inline-block;
  }

  #blank-input, #sample-input {
    width: 50%;
    border: 2px solid pink;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

}
