.release {
  border: 1.25px solid #D0D0D0;
  padding: 20px 50px;
  border-radius: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  background-color: rgba(44, 62, 80, 0.05);
}

.release h2 {
  margin-bottom: 5px;
}

.release h2 a {
  color: inherit;
  text-decoration: inherit;
}

.release-date {
  font-style: italic;
}

.release ul {
  list-style-type: circle;
  padding-left: 40px;
}

p {
  line-height: 2;
}
