{% extends "base.html" %}

{% block title %}CDtool{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/tool.css">
{% endblock %}

{% block js %}
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-more.js"></script>
<script src="/static/js/highcharts-exporting.js"></script>
<script src="/static/js/highcharts-exporting-offline.js"></script>
<script src="/static/js/tool.js"></script>
{% endblock %}

{% block main %}
<form id="input" method="POST" enctype="multipart/form-data">
  {% if error_text %}
  <div class="error-message">{{ error_text}}</div>
  {% endif %}

  <div class="sample-input">
    <h2>Upload Sample Scans</h2>
    <div class="scans-input" id="main-input">
      <input type="file" name="raw-files" id="raw-files"
       data-multiple-caption="{count} files selected" multiple>
      <label for="raw-files">
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" fill="#FFFFFF">
           <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3
           11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8
           2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2
           2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0
           1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
         </svg> <span>Upload Sample Files</span>
      </label>
    </div><div class="scans-input" id="baseline-input">
      <input type="file" name="baseline-files" id="baseline-files"
       data-multiple-caption="{count} files selected" multiple>
      <label for="baseline-files">
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" fill="#FFFFFF">
           <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3
           11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8
           2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2
           2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0
           1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
         </svg> <span>Upload Baseline Files</span>
      </label>
    </div>
    <label for="sample-name">Sample Name:</label>
    <input type="text" name="sample-name" id="sample-name" autocomplete="off">
  </div>

  <div id="input-config">
    <h2>Adjust Parameters</h2>
    <label for="exp-name">Experiment Name:</label>
    <input type="text" name="exp-name" id="exp-name" autocomplete="off">
  </div>
  <div>
    {% csrf_token %}
    <input type="submit" value="Send">
  </div>
</form>

{% if output %}
<script>var sample = {{sample|safe}}</script>
<div id="output">
  <div id="zoom-instructions">Click and drag to zoom</div>
  <div id="chart">
  </div>
  <script>var chart = makeChart("{{title}}", sample);</script>
  <div id="chart-config">
    <table class="sample-config">
      <tr class="main-series">
        <td class="scan-name">{{ sample.name }}</td>
        <td class="series-control">
          <button class="on" data-series="sample">Toggle Series</button>
          <button class="on">Toggle Error</button>
        </td>
        {% if sample.scans or sample.components %}
        <td class="show-more">v</td>
        <td class="show-all">show all</td>
        {% else %}
        <td class="show-more inert"></td>
        <td class="show-all inert"></td>
        {% endif %}
      </tr>
      {% if sample.components %}
      <tr class="scan scan-1">
        <td class="scan-name">{{ sample.name }} Raw</td>
        <td class="series-control">
          <button class="off" data-series="sample_raw">Toggle Raw</button>
          <button class="off">Toggle Raw Error</button>
        </td>
        {% if sample.components.0.scans %}
        <td class="show-more">v</td>
        <td class="show-all">show all</td>
        {% else %}
        <td class="show-more inert"></td>
        <td class="show-all inert"></td>
        {% endif %}
      </tr>
      {% if sample.components.0.scans %}
        {% for scan in sample.components.0.scans %}
        <tr class="scan-2">
          <td class="scan-name">{{ sample.name }} Raw #{{ forloop.counter}}</td>
          <td class="series-control">
            <button class="off" data-series="sample_raw_scan_{{forloop.counter0}}">Toggle Raw Scan #{{ forloop.counter }}</button>
            <button class="off">Toggle Raw Scan #{{ forloop.counter }} Error</button>
          </td>
          <td class="show-more inert"></td>
          <td class="show-all inert"></td>
        </tr>
        {% endfor %}
      {% endif %}
      <tr class="scan-1">
        <td class="scan-name">{{ sample.name }} Baseline</td>
        <td class="series-control">
          <button class="off" data-series="sample_baseline">Toggle Baseline</button>
          <button class="off">Toggle Baseline Error</button>
        </td>
        {% if sample.components.1.scans %}
        <td class="show-more">v</td>
        <td class="show-all">show all</td>
        {% else %}
        <td class="show-more inert"></td>
        <td class="show-all inert"></td>
        {% endif %}
      </tr>
      {% endif %}
      {% if sample.scans %}
        {% for scan in sample.scans %}
        <tr class="scan-1">
          <td class="scan-name">{{ sample.name }} #{{ forloop.counter}}</td>
          <td class="series-control">
            <button class="off" data-series="sample_scan_{{forloop.counter0}}">Toggle Scan #{{ forloop.counter }}</button>
            <button class="off">Toggle Scan #{{ forloop.counter }} Error</button>
          </td>
          <td class="show-more inert"></td>
          <td class="show-all inert"></td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>

    <!--<div class="sample-config">
      <div class="scan-config main-config">
        <div class="sample-name">{{ sample.name }}</div>
        <div class="series-control">
          <button class="on" data-series="sample">Toggle Series</button>
          <button class="on">Toggle Error</button>
        </div>
        {% if sample.scans or sample.components %}
        <div class="show-more">v</div>
        <div class="show-all">show all</div>
        {% else %}
        <div class="show-more inert"> </div>
        <div class="show-all inert"> </div>
        {% endif %}
      </div>
      {% if sample.scans or sample.components %}
      <div class="scans-config">
        {% if sample.components %}<div class="scan-config{% if sample.components.0.scans %} main-config{% endif %} component-config">
          <div class="sample-name">{{ sample.name }} Raw</div>
          <div class="series-control">
            <button class="off"  data-series="sample_raw">Toggle Raw</button>
            <button class="off">Toggle Raw Error</button>
          </div>
          {% if sample.components.0.scans %}
          <div class="show-more">v</div>
          <div class="show-all">show all</div>
          {% else %}
          <div class="show-more inert"> </div>
          <div class="show-all inert"> </div>
          {% endif %}
        </div>{% if sample.components.0.scans %}<div class="scans-config">
            {% for scan in sample.components.0.scans %}<div class="scan-config">
              <div class="sample-name">{{ sample.name }} Raw #{{ forloop.counter}}</div>
              <div class="series-control">
                <button class="off"  data-series="sample_raw_scan_{{forloop.counter0}}">Toggle Raw Scan #{{ forloop.counter }}</button>
                <button class="off">Toggle Raw Scan #{{ forloop.counter }} Error</button>
              </div>
              <div class="show-more inert"> </div>
              <div class="show-all inert"> </div>
            </div>{% endfor %}</div>
          {% endif %}<div class="scan-config component-config">
          <div class="sample-name">{{ sample.name }} Baseline</div>
          <div class="series-control">
            <button class="off"  data-series="sample_baseline">Toggle Baseline</button>
            <button class="off">Toggle Baseline Error</button>
          </div>
          {% if sample.components.1.scans %}
          <div class="show-more">v</div>
          <div class="show-all">show all</div>
          {% else %}
          <div class="show-more inert"> </div>
          <div class="show-all inert"> </div>
          {% endif %}
        </div>{% endif %}
        {% if sample.scans %}
          {% for scan in sample.scans %}<div class="scan-config">
            <div class="sample-name">{{ sample.name }} #{{ forloop.counter}}</div>
            <div class="series-control">
              <button class="off"  data-series="sample_scan_{{forloop.counter0}}">Toggle Scan #{{ forloop.counter }}</button>
              <button class="off">Toggle Scan #{{ forloop.counter }} Error</button>
            </div>
            <div class="show-more inert"> </div>
            <div class="show-all inert"> </div>
          </div>{% endfor %}
        {% endif %}
      </div>
      {% endif %}
    </div>-->
  </div>
  <form id="download" method="POST" onsubmit="submitDownload();">
    <input type="hidden" name="series" value="">
    <input type="hidden" name="name" value="{{title}}">
    {% csrf_token %}
    <input type="submit" id="download-button" value="Download">
  </div>
</div>
{% endif %}
{% endblock %}
