{% extends "base.html" %}

{% block title %}CDtool{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/tool.css">
{% endblock %}

{% block js %}
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-more.js"></script>
<script src="/static/js/highcharts-exporting.js"></script>
<script src="/static/js/highcharts-exporting-offline.js"></script>
<script src="/static/js/tool.js"></script>
{% endblock %}

{% block main %}
<form id="input" method="POST" enctype="multipart/form-data">

  <div class="sample-input">
    <div class="scans-input">
      <h2>Upload Sample Scans</h2>
      <input type="file" name="raw-files" id="raw-files"
       data-multiple-caption="{count} files selected" multiple>
      <label for="raw-files">
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" fill="#FFFFFF">
           <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3
           11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8
           2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2
           2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0
           1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
         </svg> <span>Upload Sample Files</span>
      </label>
      <label for="sample-name">Sample Name:</label>
      <input type="text" name="sample-name" id="sample-name" autocomplete="off">
    </div>
  </div>

  <div id="input-config">
    <h2>Adjust Parameters</h2>
    <label for="exp-name">Experiment Name:</label>
    <input type="text" name="exp-name" id="exp-name">
  </div>
  <div>
    {% csrf_token %}
    <input type="submit">
  </div>
</form>


{% if output %}
<div id="output">
  <div id="chart">
  </div>
  <script>var chart = makeChart("{{title}}", {{x_min}}, {{x_max}}, {{data|safe}});</script>
  <div id="chart-config">
  </div>
  <div id="download">
  </div>
</div>
{% endif %}
{% endblock %}
